// Colores
$primary-color: #4a90e2;
$secondary-color: #333333;
$light-bg: #fff;
$light-grey: #33333333;
$hover-grey: #515151;
$home-bg: #c4daf7;

// Tamaños
$header-height: 150px;
$header-height-mobile: 80px;
$btn-radius: 15px;
$shadow: 0 0 10px black;

// Tipografía
$font-lg: 40px;
$font-md: 30px;
$font-sm: 14px;

// Breakpoints
$bp-sm: 600px;
$bp-md: 900px;
